{% extends 'base.html' %}
{% block content %}



{% if grub %}
<h1 class="grubs"> EDIT </h1>
{% else %}
<h1 class="grubs"> ADD </h1>
{% endif %}
<form action='' enctype='multipart/form-data' method='POST' class='card-panel'>
    {% csrf_token %}
    <table>
        {{ form.as_table}}
    </table>
    <br>
    <input type='submit' class='btn-large' value='Submit'>

</form>


<script>
    let autocomplete
    function initAutoComplete() {
    autocomplete = new google.maps.places.Autocomplete(document.getElementById('id_location'),
      {
          types:[], 
          componentRestriction: {'country': ['US']}, 
          fields: ['place_id','geometry', 'name']
      })
    }
    document.addEventListener('DOMContentLoaded', function() {
    let tr = document.createElement('tr')
    let tbody= document.querySelector('tbody')
    let lastTr= tbody.lastElementChild
    tbody.appendChild(tr).innerHTML = '<th><label>Photos:</label></th><td><input type="file" name="url" id="id_url" multiple></td>'

    let item= document.getElementById('id_item')
    item.setAttribute('placeholder', 'Enter an item')

    let desc=document.getElementById('id_desc')
     desc.setAttribute('placeholder', 'Enter a description')
     
    })
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{places}}&libraries=places&callback=initAutoComplete">
</script>

{% endblock %}