{% extends 'base.html' %}
{%  block content %}

<h1 class="grubs">{{ grub.item }}</h1>

<div class="card">
    <div class="row">
        <div class="col s6"> 
            <div class="card medium">
                <div class="card-content left-content">
                    <br>
                    <p><strong>POSTED BY:</strong> {{grub.user}}</p>
                    <br>
                    <p><strong>TYPE:</strong> {{grub.type}}</p>
                    <br>
                    <p><strong>USE-BY:</strong> {{grub.exp}}</p>
                    <br>
                    <p><strong>DETAILS:</strong> {{grub.desc}}</p>
                    <br>
                    <p><strong>OPTIONS:</strong> {{grub.option}}</p>
                </div>
                <div class="card-action">
                    <h5 class="left">GRAB THIS GRUB!</h5>
                    <form action="{% url 'claims_create' %}" method="GET">
                        {% csrf_token %}
                        <input type="text" name="id" value="{{grub.id}}"hidden>
                        <input type="text" name="item" value="{{grub.item}}"hidden>
                        <input type="text" name="type" value="{{grub.type}}"hidden>
                        <input type="text" name="exp" value="{{grub.exp}}"hidden>
                        <input type="text" name="desc" value="{{grub.desc}}"hidden>
                        <input type="text" name="option" value="{{grub.option}}"hidden>
                        <input type="text" name="location" value="{{grub.location}}"hidden>
                        <input type="text" name="user" value="{{grub.user}}"hidden>
                    <button class="btn-floating btn-large waves-effect waves-light red right"><i class="material-icons">add</i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s6"> 
            <div class="card medium">
                <div class="slider">
                    <ul class='slides'>
                        {% for img in photo %}
                        {% if not img.url  %}
                        <img class='responsive-img card medium no-margin' src="https://xn--80aadc3bb0afph5eue.xn--p1ai/images/no_photo.png">
                        {% elif img.grub.id == grub.id %}
                        <li>
                        <img src="{{ img.url }}">
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>


    </div>

    <div class="row">
        <div class="col s6"> 
            <div class="card-action">
                <a href='{% url 'grubs_update' grub.id %}' class="btn-large button"> EDIT </a>
                <a href='{% url 'grubs_delete' grub.id %}' class="btn-large button"> DELETE </a>
            </div>
        </div>



        <div class="col s6"> 
            <div class="card-action">
                <div>
                    <form action="{% url 'grubs_update' grub.id %}" enctype="multipart/form-data" method="POST">
                        {% csrf_token %}
                        <input type="text" name="id" value="{{grub.id}}"hidden>
                        <input type="text" name="item" value="{{grub.item}}"hidden>
                        <input type="text" name="type" value="{{grub.type}}"hidden>
                        <input type="text" name="exp" value="{{grub.exp}}"hidden>
                        <input type="text" name="desc" value="{{grub.desc}}"hidden>
                        <input type="text" name="option" value="{{grub.option}}"hidden>
                        <input type="text" name="location" value="{{grub.location}}"hidden>
                        <input type="text" name="user" value="{{grub.user}}"hidden>
                        <input type="file" multiple="multiple" name="url" id="file-input">
                    </div>  
                        <div id="inline-block">
                            <!-- <label for="file-input"><i class="material-icons medium">add_a_photo</i></label> -->

                            <input type="submit" class="btn-large" value="Upload Photo">
                        </div>
                    </form>
        </div>

    </div>
</div>

<label>Location:</label><p id='location'>{{grub.location}}</p>
<div id="map" style="width:100%;height:400px;"></div>
<script>
    async function initMap() {
        let location = document.getElementById('location')
        response = await fetch(`https://maps.googleapis.com/maps/api/geocode/json?address=${location.innerText}&key={{places}}`)
        let data = await response.json()
        let result = data.results
        let lat, lng
        for (element of result){
            lat = element.geometry.location.lat
            lng = element.geometry.location.lng
        }
        const coordinates = { lat: Number(`${lat}`), lng: Number(`${lng}`) };
        
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 15,
            center: coordinates,
        });
         const marker = new google.maps.Marker({
            position: coordinates,
            map: map,
         });
     }
</script>
<script async src='https://maps.googleapis.com/maps/api/js?key={{places}}&callback=initMap'>
</script>
<script>
    $(document).ready(function(){
        $('.slider').slider();
    });
</script>
{%  endblock %}