body {
  display: flex;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Baloo Paaji 2', cursive;
  background-image: url("https://media.istockphoto.com/vectors/hand-drawn-bright-neon-color-vegetable-vector-illustrations-made-as-vector-id1175735193?k=20&m=1175735193&s=170667a&w=0&h=Kq-Uqb_kiDg4pBNz23hZ5Z5_LrHkBj4_WxHzxCp5W2k=");
}

main {
flex: 1 0 auto;
}

.card {
background-color: #ffffff;
opacity: .95;
}

.nav-wrapper {
background-color: rgb(252, 81, 88) ;
font-family: 'Londrina Solid', cursive;
font-size: 30px;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
}

#nav-text {
font-family: 'Londrina Solid', cursive;
}


#grubs-logo:after {
font-family: 'Londrina Shadow', cursive;
font-size: 40px;
content:'UP4GRUBZ';
color: white;
} 

#grubs-logo:hover:after{
content:'SEE GRUBS';
font-size: 50px;
color: rgb(252, 229, 88);
}

#grubs-logo {
  background-color: rgba(240, 248, 255, 0);
  padding: 0;
  animation: wiggle infinite 3s alternate;
}
@keyframes wiggle {
  0% {transform: rotate(0.4deg);}
  25% {transform: rotate(-1deg);}
  50% {transform: rotate(2deg);}
  75% {transform: rotate(-0.4deg);}
  100% {transform: rotate(1deg);}
}

.grubs {
font-family: 'Londrina Shadow', cursive;
font-size: 50px;
color: rgb(252, 81, 88) ;
} 

.no-margin {
  margin: 0;
}

.no-pad {
  padding: 0; 
}

footer.page-footer {
padding-top: 0;
text-align: right;
background-color: rgb(4, 153, 172) 

}

.left-content{
  text-align: left;
}


#inline-block {
  display: flex;
  align-items: center;
}

.button {
  font-family: 'Roboto', sans-serif;
  align-items: center;
}

.slides.bg {
  background-color: white !important;
}

.resize {
  font-size: 23px !important;
  color: rgb(255, 185, 201);
}

