body {
  display: flex;
  text-align: center;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("https://media.istockphoto.com/vectors/hand-drawn-bright-neon-color-vegetable-vector-illustrations-made-as-vector-id1175735193?k=20&m=1175735193&s=170667a&w=0&h=Kq-Uqb_kiDg4pBNz23hZ5Z5_LrHkBj4_WxHzxCp5W2k=");
}

main {
flex: 1 0 auto;
}

.card {
background-color: #ffffff;
opacity: .95;
}

.nav-wrapper {
background-color: rgb(252, 81, 88) ;
font-family: 'Londrina Solid', cursive;
font-size: 20px;
display: flex;
justify-content: space-between;
flex-wrap: nowrap;
}

#nav-text {
font-family: 'Londrina Solid', cursive;
}


#grubs-logo:after {
font-family: 'Londrina Shadow', cursive;
font-size: 60px;
content:'UP4GRUBZ';
color: rgb(18, 50, 125); 
/* color: rgb(255, 185, 201); */
} 

#grubs-logo:hover:after{
content:'SEE GRUBS';
font-size: 50px;
color: rgb(252, 229, 88);
}

.grubs {
font-family: 'Londrina Shadow', cursive;
font-size: 50px;
color: rgb(49, 85, 166);
/* color: rgb(4, 153, 172)  */
} 


footer.page-footer {
padding-top: 0;
text-align: right;
background-color: #b1c560;
}