{% extends 'base.html' %}
{% block content %}
<div id="about">
<h1 class = "grubs">ABOUT</h1>
<br>
    <h6>It is estimated that food waste comprises 30%-40% of the US food supply.</h6>
    <br>
    <h6>UP4GRUBZ aims to reduce these numbers by allowing community</h6>
    <h6>members to share any of their extra or about-to-expire</h6>
    <h6>food instead of disposing of it.</h6>
    <br>
    <img class="responsive-img" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/earth-spin5-2-1619034499.gif?crop=0.422xw:0.846xh;0.279xw,0&resize=640:*">
    <h5>POST GRUBS - CLAIM GRUBS - HELP THE PLANET!</h5>
    <br>
    <h1 class = "grubs">Our Team</h1>
    <h6>Marlin Makori</h6>
    <a href='https://github.com/MaDTrX'target='blank'><img src="https://i.imgur.com/4n9m1ZE.png" width='50px' height='50px'></a>
    <h6>Armando Ubario</h6> 
    <a href='https://github.com/mandouba' target='blank'><img src="https://i.imgur.com/4n9m1ZE.png" width='50px' height='50px'></a>
    <h6>Vergine Manucharyan</h6>
    <a href='https://github.com/vergmanu'target='blank'><img src="https://i.imgur.com/4n9m1ZE.png" width='50px' height='50px'></a>
   
<div>  

{% endblock %}