{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UP4GRUBS</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
    <script src="{% static 'api.js' %}" defer></script>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid&display=swap');</style>
  </head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
      <ul>
        <li><a href="/" id="grubs-logo" >&nbsp;&nbsp;</a></li>
      </ul>
      
      {% if user.is_authenticated %}
      <a class="hide-on-med-and-down">Welcome {{user.username}}.</a>
      {% endif %}
      
      <ul class="dropdown-content show-on-small" id="dropdown1">
        <li><a href="{% url 'about' %}">ABOUT</a></li>
        {% if user.is_authenticated %}
          <li><a href="{% url 'index' %}">MY GRUBS</a></li>
          <li><a href="{% url 'grubs_create' %}">ADD</a></li>
          <li><a href="{% url 'logout' %}">LOGOUT</a></li>
        {% else %}
          <li><a href="{% url 'signup' %}">SIGNUP</a></li>
          <li><a href="{% url 'login' %}">LOGIN</a></li>
        {% endif %}
      </ul>

      <a class='dropdown-trigger right hide-on-med-and-up' href='#' data-target='dropdown1'><i class="material-icons">menu</i></a>
        <ul class="nav-text right hide-on-small-only">
            <li><a href="{% url 'about' %}">ABOUT</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'index' %}">MY GRUBS</a></li>
              <li><a href="{% url 'grubs_create' %}">ADD</a></li>
              <li><a href="{% url 'logout' %}">LOGOUT</a></li>
            {% else %}
              <li><a href="{% url 'signup' %}">SIGNUP</a></li>
              <li><a href="{% url 'login' %}">LOGIN</a></li>
            {% endif %}
          </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    <div class="row">
      <div class="card">
        <div class="card-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    <div class="footer right">All Rights Reserved, &copy; 2022 UP4GRUBZ &nbsp;</div>
  </footer>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      
      const selectType = document.getElementById('id_type')
      M.FormSelect.init(selectType)
      const selectUser = document.getElementById('id_user')
      M.FormSelect.init(selectUser)
      const selectOption = document.getElementById('id_option')
      M.FormSelect.init(selectOption)
    })
    
  </script>
</body>
</html>