{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>UP4GRUBZ</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js" defer></script>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Baloo+Paaji+2:wght@500&family=Londrina+Outline&family=Londrina+Shadow&family=Londrina+Solid&family=Roboto&display=swap');
      </style>
  </head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/" class="responsive-img" id="grubs-logo">&nbsp;&nbsp;</a></li>
        </ul>
        
        {% if user.is_authenticated %}
        
        {% endif %}
        

        <ul class="dropdown-content show-on-small" id="dropdown1">
          <li><a href="{% url 'about' %}">ABOUT</a></li>
          {% if user.is_authenticated %}
            <li><a href="{% url 'index' %}">MY GRUBS</a></li>
            <li><a href="{% url 'grubs_create' %}">POST GRUB</a></li>
            <li><a href="{% url 'logout' %}">LOGOUT</a></li>
          {% else %}
            <li><a href="{% url 'signup' %}">SIGNUP</a></li>
            <li><a href="{% url 'login' %}">LOGIN</a></li>
          {% endif %}
        </ul>
 

      <a class='dropdown-trigger right hide-on-med-and-up' href='#' data-target='dropdown1'><i class="material-icons">menu</i></a>
        <ul class="nav-text right hide-on-small-only">
            <li ><a href="{% url 'about' %}" class="resize">ABOUT</a></li>
            {% if user.is_authenticated %}
              <li><a href="{% url 'index' %}" class="resize">MY GRUBS</a></li>
              <li><a href="{% url 'grubs_create' %}" class="resize">POST GRUB</a></li>
              <li><a href="{% url 'logout' %}" class="resize">LOGOUT</a></li>
            {% else %}
              <li><a href="{% url 'signup' %}" class="resize">SIGNUP</a></li>
              <li><a href="{% url 'login' %}" class="resize">LOGIN</a></li>
            {% endif %}
          </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    <div class="row">
      <div class="card">
        <div class="card-content">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </main>
  <footer class="page-footer">
    {% now "Y" as current_year %}
    <div class="footer right">All Rights Reserved, &copy; {{current_year}} UP4GRUBZ &nbsp;</div>
  <script>
    const findUserLocation =  () => {
        let approved = (position) => {
            let Userlatitude = position.coords.latitude
            let Userlongitude = position.coords.longitude

        }
        const denied = () => {
            console.log('location access deinied')
        }
        navigator.geolocation.getCurrentPosition(approved, denied)
    }
    document.addEventListener('DOMContentLoaded', findUserLocation)

    document.addEventListener('DOMContentLoaded', function() {
      const elems = document.querySelectorAll('.dropdown-trigger');
      const instances = M.Dropdown.init(elems);
      
      const selectType = document.getElementById('id_type')
      M.FormSelect.init(selectType)
      const selectUser = document.getElementById('id_user')
      M.FormSelect.init(selectUser)
      const selectOption = document.getElementById('id_option')
      M.FormSelect.init(selectOption)
    })
      document.addEventListener('DOMContentLoaded', function() {
      const elems= document.getElementById('id_exp');
      const instances = M.Datepicker.init(elems,{format: 'yyyy-mm-dd'});
    }); 
    let autocomplete
    function initAutoComplete() {
    autocomplete = new google.maps.places.Autocomplete(document.getElementById('id_location'),
      {
          types:[], 
          componentRestriction: {'country': ['US']}, 
          fields: ['place_id','geometry', 'name']
      })
    }
    window.addEventListener('DOMContentLoaded', function () {
      console.log(window.innerWidth)
      let col = document.querySelectorAll('section')
      col.forEach(section => {
        if (window.innerWidth < 550) {
         section.classList.remove('col')
        }
        })
     })
     window.addEventListener('resize', function () {
       let col = document.querySelectorAll('section')
       col.forEach(section => {
          if (window.innerWidth < 550) { 
            section.classList.remove('col')
          } else {
            section.classList.add('col')
          }
          })
       })
    document.addEventListener('DOMContentLoaded', function() {
    let tr = document.createElement('tr')
    let tbody= document.querySelector('tbody')
    let lastTr= tbody.lastElementChild

    tbody.appendChild(tr).innerHTML = '<th><label>Photos:</label></th><td><input type="file" name="url" id="id_url" multiple></td>'

    let item= document.getElementById('id_item')
    item.setAttribute('placeholder', 'Enter an item')

    let desc=document.getElementById('id_desc')
    desc.setAttribute('placeholder', 'Enter a description')
   
    document.addEventListener('resize', function (){
    })
  })
</script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key={{places}}&libraries=places&callback=initAutoComplete">
</script>
</body>
</html> 