
{% extends 'base.html' %}
{% block content %}

<a href='#'><h1 class = "grubs"> all grubs </h1></a>

{% for grub in grubs %}
<a href="{% url 'grubs_detail' grub.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title"> {{ grub.item }} </span>
            <p>Type: {{grub.type}}</p>
            <p> Location: {{grub.location}} </p>
        </div>
    </div>
</a>
{% endfor %}
<script>
    const findUserLocation =  () => {
        let approved = (position) => {
            let Userlatitude = position.coords.latitude
            let Userlongitude = position.coords.longitude

        }
        const denied = () => {
            console.log('location access deinied')
        }
        navigator.geolocation.getCurrentPosition(approved, denied)
    }
    document.addEventListener('DOMContentLoaded', findUserLocation)

{% endblock %}